<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Hello, ' + ${name} + '!'" />
<form name="textinput" action="textinput" method="post">
    <label>Write here
    </label>
    <input type="text" name="title">

    </input>
    <input type="text" cols="40" rows="5" name="text">

    </input>
    <input type="submit" value="Submit"> </input>
</form>

</body>
</html>