<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/style.css"></link>
    <link href="https://fonts.googleapis.com/css?family=Armata|Comfortaa|Inconsolata|Jura|Maven+Pro|PT+Sans|PT+Sans+Narrow|Rubik|Varela+Round|Work+Sans" rel="stylesheet"></link>
</head>
<body id="generateBody">
<form name="generate" action="generate" method="post">
    <label>Song Title
    </label><br></br>
    <input id="title" type="text" name="title"></input><br></br>
    <br></br>
    <label>Add your text</label><br></br>

    <input type="text" size="80" name="text"></input><br></br><br></br>
    <input id="submit" type="submit" value="Generate Music"> </input>
</form>

<!--
<script type='text/javascript' src='//www.midijs.net/lib/midi.js'></script>
<p th:text="'Title is: ' + ${title} "/>
<a href="#" onClick="MIDIjs.play('feri.mid');">Play hinematov.mid</a>
<a href="#" onClick="MIDIjs.stop();">Stop MIDI Playback</a>
-->

</body>
</html>