<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script type='text/javascript' src='js/main.js'></script>

</head>
<body>


<script type='text/javascript' src='//www.midijs.net/lib/midi.js'></script>
<p th:text="'Title is: ' + ${title} "/>
<a id="musicStart" th:title="${title}">Start MIDI</a>

<!--<a href="#" th:onclick="'MIDIjs.play(\'' + ${title} + '.mid' + '\');'">Play hinematov.mid</a>
<p th:text="'MIDIjs.play(' + ${title} + '.mid)'"></p>
<p th:text="'MIDIjs.play(\'' + 'src\main\resources\static\''+${title} + '.mid' + '\');'"></p>-->
<a id="musicStop" >Stop MIDI</a>

<a th:href="'/' + ${title}">Save</a>

</body>
</html>